.bg-image {
    background: url('../image/cBG.webp') no-repeat center center / cover;
     
     position: relative;
   }
 
   .overlay {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.4); 
     z-index: 1;
   }
 
   .content {
     position: relative;
     z-index: 2;
   }

   /* ------------- sec3 ==> movement----------------- */


  .carousel-item {
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    
  }
  .carousel-indicators .active {
    background-color: #007bff; 
  }
  
 
  /* ----------------------------------- */

  /* ------------------- change nav color---------------- */

.navbar {
  background-color: transparent !important; 
  transition: background-color 0.3s ease; 
}

.navbar .navbar-brand, 
.navbar .nav-link {
  color: white !important; 
}

.navbar.scrolled {
  background-color: white !important; 
  color: black; 
}

.navbar.scrolled .navbar-brand, 
.navbar.scrolled .nav-link  {
  color: black !important; 
}

.navbar.scrolled .navbar-toggler-icon {
  background-color: black; 
}

.navbar.scrolled {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.navbar.scrolled .btn.bg-transparent, 
.navbar.scrolled .btn.border-light-subtle ,.navbar.scrolled .dash {
  color: rgb(3, 3, 3) !important;
}


.navbar .nav-link:hover,.navbar .dash:hover, .navbar-brand:hover  {
  color:#007bff !important;  
}

.navbar.scrolled .nav-link:hover ,.navbar.scrolled .dash:hover,.navbar.scrolled  .navbar-brand:hover  {
  color: #007bff !important;  
}



 

/* ---------- hove text decoration-------------------- */
  .hoverTextDecoration:hover{
    text-decoration:underline;
    color: #007bff;
  }
  
  .hoverFooter:hover {
    text-decoration: underline !important;
  }
  /* ---------- hove header-------------------- */

.btn-hover:hover{
   border-color: #007bff !important;
}

