$bimary-cOLOR:#0055d9;
$white:white;
$textColorLowOpacity:  rgb(77, 97, 130);
$drowbackColor: rgba(0, 0, 0, 0.5);
$borderColor:#e6e6e6;
body{
    background-color: #f5f6f7 !important;
}
.cursur{
    cursor: pointer;
}

select{
    outline: none !important; 
    box-shadow: none !important; 

    &:focus{
        outline: none !important;
        box-shadow: none !important;
    }
    
   
  }


  .videoProfile{
    background: linear-gradient(270deg, rgb(232, 229, 245) 0%, rgb(242, 241, 250) 23%, rgb(255, 255, 255) 79.5%);
    border: 1px solid rgb(217, 221, 228) ;
  }

  .company{
    font-size: 12px;
  }
  .card{
    border: 1px solid rgb(217, 221, 228) ;
    transition: all 0.3s linear;
    &:hover{
       box-shadow: 1px 1px 5px rgb(207, 207, 207),0px 0px 5px rgb(207, 207, 207);
    }
  }
  .card.active{
    box-shadow: rgb(204, 224, 255) 0px 0px 0px 3px;
    border:1px solid $bimary-cOLOR;
    position: relative;
  }
  .card.active::before {
    content: "";
    position: absolute;
    right: -14px; 
    top: 18px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13px 0 13px 13px; 
    border-color: transparent transparent transparent rgba(204, 224, 255, 1); 
}



.card.active::after {
    content: "";
    position: absolute;
    right: -8px; 
    top: 20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 10px; 
    border-color: transparent transparent transparent $white; 
}



.application-details{
    z-index: 1000;
    position: absolute;
    top: 0;
    right: -80% !important;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 3px 3px -2px, rgba(0, 0, 0, 0.2) 0px 1px 8px 0px;
    .posted{
        font-size: 12px;
        font-weight: 500;
    }
}


@media (max-width: 992px){
    .application-details{
        z-index: 1000;
        position: fixed ;
        top: 3%;
        right: 0 !important;
        width:100% !important;
        margin: auto;
        height: 100vh;
        
        header{
            display: flex !important;
        }
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); 
        z-index: 999; 
    }
}

@media (max-width:576px) {
    #noApp{
        font-size: 14px !important;
    }
    .sortBy{
        font-size: 12px !important;
    }
}

.text{
    font-size: 14px ;
}

textarea,input{
    outline: none !important;
    box-shadow: none !important;
    resize: none;
    &:focus{
        outline: none !important;
        box-shadow: none !important;
    }
}
.WithdrawArchive{
    top:30%;
    right: -40%;
    z-index: 3000;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 3px 3px -2px, rgba(0, 0, 0, 0.2) 0px 1px 8px 0px;
    
}
.WithdrawArchive>div{
    &:hover{
        background-color: rgb(227, 234, 246);
    }
}
.WithdrawArchive>div.diabled{
    background-color: transparent;
    color: $textColorLowOpacity;
    cursor: not-allowed;
}
.text2{
  color: $textColorLowOpacity;
}
.dialog1{
    &::backdrop{
        background-color: $drowbackColor;
    }
}


.none{
  display:none;
}


